.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
input:focus{
  outline:none;
  background-color: transparent;

} */

input[type=text]{
  background-color: transparent;
}

input[type=text]:focus{
  background-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

td{
  color: white;
}

.w1{
  width: 100vw;
}

.t-bold {
  font-weight: bold;
}

.t-green {
  color: #27a844;
}

.t-yell {
color:yellow;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.25);
}

.t-ping {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
